[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-extensions = "*"
ipython = "*"
djangorestframework = "*"
pytils = "*"

[requires]
python_version = "3.11"

[dev-packages]
pep8 = "*"
pylint = "*"
autopep8 = "*"

[scripts]
runserver = 'python manage.py runserver'
make_migrations = 'python manage.py makemigrations'
migrate = 'python manage.py migrate'

