[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.6"
pillow = "10.3.0"
django-extensions = "3.2.3"
ipython = "*"
djangorestframework = "3.15.1"
pytils = "0.4.1"

[requires]
python_version = "3.11"

[dev-packages]

[scripts]
runserver = 'python manage.py runserver'
make_migrations = 'python manage.py makemigrations'
migrate = 'python manage.py migrate'

